body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-roboto), sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

#root {
    width: 100%;
    min-height: 100vh;
}
