@use '@style/variables' as *;
@use '@style/mixins' as *;

.about {
    @include content-container();
    @include base-adaptive-font-size();

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xxxl;
    padding: $space-xxl $space-xl;

    &__image {
        object-fit: cover;
        
        &-container {
            aspect-ratio: 3 / 2;
            position: relative;
            max-width: 768px;
            width: 100%;
        }
    }

    &__title {
        font-size: 2em;
    }

    &__description {
        font-size: 0.9em;
    }
}