@use '@style/variables' as *;
@use '@style/mixins' as *;

$action-padding: 8px;
$action-icon-size: 24px;
$action-sizes: calc(2 * $action-padding + $action-icon-size);
$actions-width: calc(2 * $action-sizes);
$actions-tablet-up-gap: $space-l;
$actions-tablet-up-width: calc($actions-width + $actions-tablet-up-gap);



.actions {
    width: $actions-width;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet-up() {
        gap: $actions-tablet-up-gap;
        width: $actions-tablet-up-width;
    }

    &__item {
        flex-shrink: 0;
        cursor: pointer;   
        transition: color 0.5s;  
        
        &_active {
            color: $brand-active;
            cursor: auto;
        }
        
        &:hover:not(.actions__item_active) {
            transition: color 0.5s;
            color: $brand-hover
        }
    }
    
    &__icon {
        padding: $action-padding;
        height: $action-sizes;
        width: $action-sizes;
    }  

    &-cart {
        position: relative;

        &__count {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            color: #fff;
            pointer-events: none;
            background-color: $brand;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
            font-size: 0.75em;

        }
    }
}