@use '@style/variables' as *;
@use '@style/mixins' as *;

$margin-top: 48px;

.product-list {
    @include content-container();
    margin-top: $margin-top;
    
    &-title {
        display: flex;
        align-items: center;
        gap: 1rem;

        &__name {
            @include section-title-font-size();
        }

        &__count {
            padding-top: 0.4rem;
        }
    }

    &__not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-s;
    }
}
