@use '@style/variables' as *;
@use '@style/mixins' as *;

$icon-size: 40px;
$icon-bg-color: rgb(25 25 25 / 0.5);
$icon-bg-color-hover: $brand;
$icon-color: #fff;
$icon-color-hover: #fff;
$icon-margin: $space-xxs;

.gallery {
    .gallery__image_preview {
        transition: transform 1s;
    }  
    
    &:hover {
        .gallery__image_preview {
            transform: scale(1.2);
            transition: transform 1s;
            cursor: zoom-in;
        }  
    }

    &_preview {
        position: relative;
        aspect-ratio: 1 / 1;
        width: 100%;
    }
    
    &_full {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    
    &__icon {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        
        &-container {
            position: absolute;
            width: $icon-size;
            height: $icon-size;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: $shadow-normal;
            color: $icon-color;
            background-color: $icon-bg-color;
            opacity: 0.5;
            transition: color 0.5s, background-color 0.5s;
            z-index: 3;

            &:hover {
                background-color: $icon-bg-color-hover;
                color: $icon-color-hover;
                transition: color 0.5s, background-color 0.5s;
            }
        }
    } 
     
    &__cross {
        &-container {
            right: $icon-margin;
            top: $icon-margin;
        }
    }

    &__arrow {
        &-container {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &:hover {
                transform: translate(0, -50%);
            }
            
            &_left {
                left: $icon-margin;
            } 
            
            &_right {
                right: $icon-margin;
            }
        }
      
        &_left {
            transform: rotate(180deg);

        }
    }
    &__bg {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(25 25 25 / 0.95);
    }

    &__image {
        opacity: 0;
        transition: opacity 1s;
        user-select: none;
        
        &-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;            
        }
        
        &_preview {
            object-fit: cover;
        }

        &_full {
            object-fit: contain;
        }

        &_active {
            opacity: 1;
            transition: opacity 1s;
            z-index: 1;
        }
    }

    &_no-scroll {
        overflow: hidden;
    }
}