@use '@style/variables' as *;
@use '@style/mixins' as *;

$base-gap: $space-s;
$base-size: $control-field-height;
$icon-size: 24px;
$description-width: 40px;
$input-left-padding: calc($description-width);


.price-filter {
    display: grid;
    grid-template-areas: 
        "title min-price"
        "title max-price";
    gap: calc(2 * $base-gap);
    align-items: center;
    grid-template-columns: auto 1fr;

    @include base-adaptive-font-size();
    @include laptop-up() {
        grid-template-areas: "title min-price max-price";
        grid-template-columns: auto 1fr 1fr;
    }

    &-title {
        font-size: 0.9em;
        padding-left: $base-gap;
        grid-area: title;
    }

    &-min {
        grid-area: min-price;
    }

    &-max {
        grid-area: max-price;
    }
    
    &-section {
        display: flex;
        height: $base-size;
        gap: $base-gap;
        position: relative;
        width: 100%;

        &__label {
            width: 100%;
        }

        &__description {
            position: absolute;
            height: 100%;
            width: $description-width;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0.1em;
            color: $brand;
            font-size: 0.7em;
        }

        &__input {
            height: 100%;
            padding: 0 $input-left-padding;
            font-size: 0.9em;
            width: 100%;
        } 

        &__clear {
            position: absolute;
            width: $base-size;
            height: $base-size;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            right: 4px;

            &-icon {
                height: $icon-size;
                width: $icon-size;
                color: $brand;
            }
        }
    }
}