@use '@style/variables' as *;
@use '@style/mixins' as *;

.category {
    @include base-adaptive-font-size();
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: $border-radius-primary;
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: $shadow-normal;
        transition: box-shadow 0.5s;

        .category__image {
            transition: transform 1s, filter 1s;
            transform: scale(1.1);
            filter: blur(1px);
        }

        .category__link {
            color: $brand;
            transition: color 0.5s;
        } 

        .category__description {
            border-color: $brand;
            transition: border-color 0.5s;
        }
    }
    
    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        transition: transform 1s, filter 1s;

        &-wrapper {
            position: relative;
            aspect-ratio: 1 / 1;
            overflow: hidden;
        }
    }
    
    &__link {
        cursor: pointer;
        transition: color 0.5s;
    }
    
    &__description {
        min-height: 150px;
        text-align: center;
        color: $brand;
        font-size: 2em;
        padding-top: $space-xxl;
        border-bottom: 3px solid transparent;
        transition: border-color 0.5s;
    }
}

             