@use '@style/variables' as *;
@use '@style/mixins' as *;

.app {
    background-color: $primary-bg;
    width: 100%;
    min-height: 100vh;
}

 .error {
    @include content-container();
    @include base-adaptive-font-size();

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-l;
    padding: $space-xxxl;
    
    &__header {
        font-size: 1.2em;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-xs; 

    }
    
    &__image {
        object-fit: cover;
        
        &-container {
            aspect-ratio: 3 / 2;
            position: relative;
            max-width: 768px;
            width: 100%;
        }
    }

    &__footer {
        display: flex;
        padding: $space-l;
        gap: $space-s;
    }

    &__button {
        min-width: $button-min-width;
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 0.25);

    &__icon {
        color: $brand;
    }
}