@use '@style/variables' as *;
@use '@style/mixins' as *;


.search {
    @include content-container();
    display: grid;
    grid-template-areas: 
        "query"
        "categories"
        "price"
        "sort";
    gap: $space-xxxl;
    width: 100%;
    
    @include tablet-up() {
        grid-template-columns: min(50%, 350px) auto;
        grid-template-areas: 
            "query query"
            "categories price"
            "sort price";       
    }

    @include laptop-up() {
          grid-template-areas: 
            "query query"
            "categories price"
            "sort sort";       
    }

    &__query {
        grid-area: query;
        width: 100%;
    }

    &__categories-filter {
        grid-area: categories;
        
        @include tablet-up() {
            max-width: 350px;
        }
    }

    &__sort {
        grid-area: sort;
        
        @include tablet-up() {
            max-width: 350px;
        }
    }

    &__price {
        grid-area: price;
    }
}
