@use '@style/variables' as *;
@use '@style/mixins' as *;

$bg-color: rgb(255 255 255 / 0.5);
$text-bg-color: rgb(125 125 125 / 0.25);

.skeleton {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: $card-min-width;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include pulse-gradient()
    }

    &__image {
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1em;
        background-color: $bg-color;
        z-index: 1;
        flex-basis: 100%;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        p {
            height: 1rem;
            background-color: rgb(125 125 125 / 0.25);

            &:first-child {
                width: 100%;
            }

            &:nth-child(2) {
                width: 80%;
            }

            &:nth-child(3) {
                width: 90%;
                display: none;
            }

            &:nth-child(4) {
                width: 90%;
                display: none;
            }
        }
    }

    &__title {
        max-width: 600px;
        height: 2em;
        background-color: $text-bg-color;
    }

    &__footer {
        height: $control-field-height;
        background-color: rgb(125 125 125 / 0.25);
        align-self: flex-end;
        width: 150px;
        margin-top: 1em;
    }
}

.full { 
    @include tablet-up() {
         flex-direction: row;
     }
    
     &__main {
        @include tablet-up() {
            p:nth-child(1n) {
                display: inline-block;
            }
        }
    }

    &__title {
        height: 2.2em;
    }

    &__description {
        gap: 1em;

        P {
            height: 1.2rem;
        }
    }

    &__footer {
        align-self: flex-start;
        width: 100%;

        @include tablet-up() {
            margin-top: 2.5rem;
            width: 300px
        }
    }
}